<style>
label {
    float: left;
    text-align: right;
    margin-right: 0.2em;
    width: 15em;
}
</style>

<h1 align="center">Buyer Confirm Payment</h1>

<div style="margin: 0 auto; width: 600px; ">

<% form_for :ec, :url => {:controller => 'ec', :action => 'do_ec_payment'} do |f| -%>
<fieldset>
<legend>Payer Information From PayPal</legend><br />
  <label>Firstname:</label>         <%= session[:ec_response]["FIRSTNAME"] %><br />
  <label>Lastname:</label>          <%= session[:ec_response]["LASTNAME"] %><br />
  <label>Email:</label>             <%= session[:ec_response]["EMAIL"] %><br />
  <label>Payer Status:</label>      <%= session[:ec_response]["PAYERSTATUS"] %><br />
</fieldset>
<br />

<fieldset>
<legend>Amounts Information From PayPal</legend><br />
  <label>Invoice Number:</label>           <%= session[:ec_response]["INVNUM"] %><br />
  <label>Description:</label>              <%= session[:ec_response]["DESC"] %><br />
  <label>Currency Code</label>             <%= session[:ec_response]["CURRENCYCODE"] %><br />
  <label>Amount</label>                    <%= session[:ec_response]["AMT"] %><br />
  <label>Handling Amount:</label>          <%= session[:ec_response]["HANDLINGAMT"] %><br />
  <label>Insurance Amount:</label>         <%= session[:ec_response]["INSURANCEAMT"] %><br />
  <label>Shipping Discount Amount:</label> <%= session[:ec_response]["SHIPDISCAMT"] %><br />
  <label>Shipping Amount:</label>          <%= session[:ec_response]["SHIPPINGAMT"] %><br />
  <label>Tax Amount:</label>               <%= session[:ec_response]["TAXAMT"] %><br />
</fieldset>
<br />

<fieldset>
<legend>Shipping Information Returned From PayPal</legend><br />
  <label>Ship To Name:</label>      <%= session[:ec_response]["SHIPTONAME"] %><br />
  <label>Ship To Address:</label>   <%= session[:ec_response]["SHIPTOSTREET"] %><br />
  <label>Ship To Street 2:</label>  <%= session[:ec_response]["SHIPTOSTREET2"] %><br />
  <label>Ship To City:</label>      <%= session[:ec_response]["SHIPTOCITY"] %><br />
  <label>Ship To State:</label>     <%= session[:ec_response]["SHIPTOSTATE"] %><br />
  <label>Ship To Zip:</label>       <%= session[:ec_response]["SHIPTOZIP"] %><br />
  <label>Country Code:</label>      <%= session[:ec_response]["SHIPTOCOUNTRYCODE"] %><br />
  <label>Country Name:</label>      <%= session[:ec_response]["SHIPTOCOUNTRYNAME"] %><br />
  <label>Address Status:</label>    <%= session[:ec_response]["ADDRESSSTATUS"] %><br />
</fieldset>
<br />

<fieldset>
  <legend>DoExpressCheckoutPayment Parameters</legend><br />

  <label for="token">Token:</label>
  <%= f.text_field :token, :value => session[:ec_response]["TOKEN"], :readonly => true %><br />

  <label for="token">PayerID:</label>
  <%= f.text_field :payerid, :value => session[:ec_response]["PAYERID"], :readonly => true %><br />

  <label for="notifyurl">Notify URL</label>
  <%= f.text_field :notifyurl, :value => @notifyurl, :readonly => true %><br />

  <label for="paymentaction">Payment Action:</label>
  <%= f.text_field :paymentaction, :value => 'Sale', :readonly => true, :size => 10  %><br />

  <label for="amt">Currency Code:</label>
  <%= f.text_field :currencycode, :value => session[:ec_response]["CURRENCYCODE"], :readonly => true %><br />

  <label for="amt">Amount:</label>
  <%= f.text_field :amt, :value => session[:ec_response]["AMT"], :readonly => true  %><br /><br />

  <label>Invoice Number:</label>
  <%= f.text_field :invnum, :value => session[:ec_response]["INVNUM"], :readonly => true %> *<br />

  <label>Description:</label>
  <%= f.text_field :desc, :value => session[:ec_response]["DESC"], :readonly => true %> *<br />

  <label>Handling Amount:</label>
  <%= f.text_field :handlingamt, :value => session[:ec_response]["HANDLINGAMT"], :readonly => true %> *<br />

  <label>Insurance Amount:</label>
  <%= f.text_field :insuranceamt, :value => session[:ec_response]["INSURANCEAMT"], :readonly => true %> *<br />

  <label>Shipping Discount Amount:</label>
  <%= f.text_field :shipdiscamt, :value => session[:ec_response]["SHIPDISCAMT"], :readonly => true %> *<br />

  <label>Shipping Amount:</label>
  <%= f.text_field :shippingamt, :value => session[:ec_response]["SHIPPINGAMT"], :readonly => true %> *<br />

  <label>Tax Amount:</label>
  <%= f.text_field :taxamt, :value => session[:ec_response]["TAXAMT"], :readonly => true %> *<br />

  <label>Item Amount:</label>
  <%= f.text_field :itemamt, :value => session[:ec_response]["ITEMAMT"], :readonly => true %> *<br />
  <br />

  <%= submit_tag "Confirm Payment"%> <br />
  ( * Adding these fields do not affect payment details in sandbox )
</fieldset>
<br />
<% end -%>
<br />

<% if session[:ec_response] -%>
<h2>PayPal Response Data</h2>
  <% for k, v in session[:ec_response].sort -%>
  <label><%= "#{k} : " -%></label><%= "#{v}" -%><br />
  <% end -%>
<% end -%>
<br />

<h2>Request Parameters</h2>
<% for k,v in params.sort -%>
  <label><%= "#{k} : " -%></label><%= "#{v}" -%><br />
<% end -%>
<br />

</div>
